html {
	font-size: 12px;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	color: hsl(238, 29%, 16%);
}

section {
	position: relative;
}

img.illustration-box-desktop {
	display: none;
	position: absolute;
	left: -6.9%;
	top: 43%;
	z-index: 10;
	width: min(19vw, 191px);
}

.container {
	border-radius: 1.3rem;
	margin: 10rem 2rem 2rem 2rem;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	box-shadow: 0 5px 10px 0 hsl(240, 39%, 47%);
}

.illustrations-desktop {
	display: none;
	margin-left: -70px;
	position: relative;
}

img.illustration-woman-online-desktop {
	max-width: 100%;
	z-index: 5;
	position: relative;
}

img.shadow-desktop {
	position: absolute;
	top: -104%;
	left: -104%;
	width: 205%;
	height: 260%;
	z-index: 0;
}

.content {
	padding: 0 2rem 4rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.content:before {
	content: url("images/illustration-woman-online-mobile.svg");
	position: absolute;
	top: -107px;
	margin-left: -30px;
}

h1 {
	padding: 2.5rem;
	font-weight: bold;
	font-size: 2.75rem;
}

.QnA-list {
	max-width: 275px;
}

.QnA {
	width: 100%;
	padding: 1.3rem 0;
	border-bottom: 1px solid hsl(240, 5%, 91%);
	line-height: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.question {
	color: hsl(237, 12%, 33%);
	font-size: 1.1rem;
	width: 100%;
}

.question button{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.question button:focus img {
	outline: 2px solid;
}

.QnA.active > .question {
	font-weight: bold;
}

.answer {
	margin-top: 0.7rem;
	color: hsl(240, 6%, 50%);
	display: none;
}

.QnA.active > .answer {
	display: block;
}

.QnA__icon {
	height: max-content;
	margin-left: 1rem;
	margin-top: 0.2rem;
	margin-right: -0.2rem;
	padding: 0.2rem;
}

.QnA.active > .QnA__icon {
	transform: rotate(180deg);
}

@media (hover: hover) {
	.QnA.active:hover {
		font-weight: unset;
	}
	.QnA:hover {
		font-weight: bold;
		filter: saturate(6);
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.QnA-list {
		width: 275px;
	}
}

@media (min-width: 768px) {
	img.illustration-box-desktop {
		display: block;
	}
	.container {
		overflow: hidden;
		margin: 2rem;
	}
	.illustrations-desktop {
		display: block;
	}
	.content {
		padding: 8rem 6rem 8rem 8rem;
		align-items: flex-start;
		height: 46rem;
	}
	.content:before {
		display: none;
	}
	img.shadow-mobile {
		display: none;
	}
	h1 {
		padding: 0 0 2.5rem 0;
	}
	.QnA-list {
		width: 350px;
		max-width: 350px;
		overflow: auto;
		padding-right: 2rem;
	}
}

@media (max-width: 1000px) {
	img.illustration-box-desktop {
		left: -6.8vw;
		width: 19vw;
	}
}