html {
	font-size: 12px;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	color: hsl(238, 29%, 16%);
}

section {
	border-radius: 1.3rem;
	margin: 2rem;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.illustrations-desktop {
	display: none;
}

.illustration-woman-online-desktop {
	max-width: 100%;
}

.content {
	border-radius: 1.3rem;
	padding: 0 2rem 4rem 2rem;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.content:before {
	content: url("images/illustration-woman-online-mobile.svg");
	position: absolute;
	top: -107px;
	margin-left: -30px;
}

h1 {
	padding: 2.5rem;
	font-weight: bold;
	font-size: 2.75rem;
}

.QnA-list {
	max-width: 275px;
	transition: all 0.3s ease-in-out;
}

.QnA {
	width: 100%;
	padding: 1.3rem 0;
	border-bottom: 1px solid hsl(240, 5%, 91%);
	line-height: 1.5rem;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.QnA__text {
	display: flex;
	flex-direction: column;
}

.question {
	color: hsl(237, 12%, 33%);
	font-size: 1.1rem;
}

.QnA.active > .QnA__text > .question {
	font-weight: bold;
}

.answer {
	margin-top: 0.7rem;
	color: hsl(240, 6%, 50%);
	display: none;
}

.QnA.active > .QnA__text > .answer {
	display: block;
}

.QnA__icon {
	height: max-content;
	margin-left: 1rem;
	margin-top: 4px;
}

.QnA.active > .QnA__icon {
	transform: rotate(180deg);
}

@media (hover: hover) {
	.QnA.active:hover {
		font-weight: unset;
	}
	.QnA:hover {
		font-weight: bold;
		filter: saturate(6);
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.QnA-list {
		width: 275px;
	}
}

@media (min-width: 768px) {
	.illustrations-desktop {
		display: block;
	}
	.content {
		padding: 8rem;
		align-items: flex-start;
	}
	.content:before {
		display: none;
	}
	img.shadow-mobile {
		display: none;
	}
	h1 {
		padding: 0 0 2.5rem 0;
	}
	.QnA-list {
		width: 350px;
		max-width: 350px;
	}
}

